body{
    background: linear-gradient(to right, rgb(94, 133, 218), rgb(129, 145, 197), rgb(51, 79, 138))
}
.title {
     text-align: center;
}
.logo {
    text-align: center;
}
.links {
    text-align: center;
}
.esquerda{
    color: white;
}
.name{
    color: white;
}