body{
    background: linear-gradient(to right, rgb(20, 47, 165), rgb(129, 145, 197), rgb(2, 24, 63))
}
.title {
     text-align: center;
}
.logo {
    text-align: center;
}
.links {
    text-align: center;
}
.esquerda{
    color: white;
}
.name{
    color: white;
}